*{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    box-sizing: border-box;
    
}
:root{
    font-size: 16px;
    font-family:'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    --transistion-speed: 600ms;

}
body{
    color:black;
    background-color: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.container{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
}

.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background:var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0,0.2);
}

.container .card::before{
    content:'';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255,255, 0.1);
    pointer-events: none;
}
.container .card .content{
    padding: 30px;
    text-align: center;
}
.container .card .content h2{
    position: absolute;
    right: 30px;
    font-size: 4rem;
    font-weight: 800px;
    color:#0c002b;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}
.container .card:hover .content h2{
    opacity: 1;
    transform: translateY(-70px);
}
.container .card .content h3{
    position: relative;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}
.container .card .content p{
    position: relative;
    font-size: 1em;
    color: #fff;
    z-index: 2;
    font-weight: 300;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}
.container .card:hover .content h3
.container .card:hover .content p{
    opacity: 1; 
}
.container .card .content a{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #fff;
    color: #0c002b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.container .card span{
    transition: 0.5;
}

.container .card span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent,#141418);
    animation: animate1 2s linear infinite;
}
main > h1{
    text-align: center;
    font-size: 2.7rem;
}
h1:hover{
    transition: ease;
    transition: 100ms;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
main{
    margin-left: 5rem;
    padding: 1rem;
}
.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
    z-index: 6;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item{
    width: 100%;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transistion-speed);
}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background:var(--bg-secondary);
    color: var(--text-secondary);
}
.link-text{
    display: none;
    margin-left: 1rem;
}
.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover .link-text{
    display: block;
}
.fa-primary{
    color:teal;
}
.fa-secondary{
    color:lightblue;
}
.fa-primary,.fa-secondary{
    transition: var(--transistion-speed);
}
.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg{
    transform: rotate(0deg);
    transition:var(--transistion-speed);
}
.navbar:hover .logo svg{
    transform: rotate(-180deg);
}
@media only screen and (max-width: 600px){
.navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
      }
    
.logo {
        display: none;
      }
    
.navbar-nav {
        flex-direction: row;
      }
    
.nav-link {
        justify-content: center;
      }
    
main {
        margin: 0;
      }
    }
@media only screen and (min-width: 600px){
    .navbar{
    width: 5rem;
    height: 100vh;
    height: 100vh;
    }
    .navbar:hover{
        width: 16rem;
    }
    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(--transistion-speed);
    }

}
html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
